@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "minerva-modern", sans-serif;
  color: #4a4a49;
}

p,
span {
  font-family: "DM Sans", sans-serif;
}

@layer utilities {
  .bg-pattern {
    background-image: url("../public/assets/pattern2.png");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .bg-pattern2 {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .bg-pattern2a {
    background-image: url("../public/assets/pattern2.png");
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: calc(100% - 350px) calc(100% - 0px);
  }

  .bg-pattern2b {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .bg-pattern3 {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .bg-pattern3a {
    background-image: url("../public/assets/pattern2.png");
    background-size: 950px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .bg-404 {
    background-image: url("../public/assets/4042.jpg");
    background-size: cover;
    /* background-position: bottom; */
  }

  @media screen and (max-width: 640px) {
    .bg-pattern {
      background-size: 500px;
    }
    .bg-pattern3a {
      background-image: url("../public/assets/pattern2.png");
      background-size: 1200px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    .bg-pattern2 {
      background-image: url("../public/assets/pattern2.png");
      background-size: 1000px;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
}

.kzANES {
  margin: 0 !important;
}

.degustazione {
  background-image: url("../public/assets/rifugio/rifugio3.webp");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

/* .hero {
  background-image: url("../public/assets/coteau.webp");
  background-size: cover;
  background-position: top;
} */

.react-international-phone-country-selector-button,
.react-international-phone-input-container .react-international-phone-input {
  border: none !important;
}

.elenco_contatti {
  list-style: none;
  padding: 0;
}

.elenco_contatti li {
  padding-left: 1.3em;
  display: flex;
}

.elenco_contatti li::before {
  content: "\2022";
  display: inline-block;
  margin-left: -1.3em;
  margin-right: 0.5em;
  width: 1em;
}

.leaflet-marker-icon img {
  color: var(--main) !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
  background-color: white !important;
  border-bottom: 1px solid #4a4a49c3 !important;
  padding: 10px 0 !important;
}

.react-datepicker__input-container {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
  margin-right: 10px !important;
}

.react-datepicker-wrapper input {
  width: 100% !important;
  background-color: white;
  color: #4a4a49 !important;
  padding: 0 20px !important;
}

.react-datepicker__close-icon {
  right: 10px !important;
}
.react-datepicker__close-icon::after {
  background-color: transparent !important;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M17.414 16L24 9.414L22.586 8L16 14.586L9.414 8L8 9.414L14.586 16L8 22.586L9.414 24L16 17.414L22.586 24L24 22.586z'/%3E%3C/svg%3E") !important;
  font-size: 20px !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #4a4a49 !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #f4f3ef !important;
  border-bottom: 1px solid #f4f3ef !important;
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: center;
  }
}
