@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "minerva-modern", sans-serif;
  color: #4a4a49;
}

p,
span {
  font-family: "DM Sans", sans-serif;
  color: #4a4a49;
  font-weight: 300;
}

@layer utilities {
  .bg-pattern {
    background-image: url("../public/assets/pattern2.png");
    background-size: 750px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .bg-pattern2 {
    background-image: url("../public/assets/pattern2.png");
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  @media screen and (max-width: 640px) {
    .bg-pattern {
      background-size: 500px;
    }
  }
}

.kzANES {
  margin: 0 !important;
}

.degustazione {
  background-image: url("../public/assets/rifugio/rifugio3.jpg");
  background-size: cover;
  background-position: center;
  z-index: 999;
}

/* .hero {
  background-image: url("../public/assets/coteau.webp");
  background-size: cover;
  background-position: top;
} */

.react-international-phone-country-selector-button,
.react-international-phone-input-container .react-international-phone-input {
  border: none !important;
}

.elenco_contatti {
  list-style: none;
  padding: 0;
}

.elenco_contatti li {
  padding-left: 1.3em;
  display: flex;
}

.elenco_contatti li::before {
  content: "\2022";
  display: inline-block;
  margin-left: -1.3em;
  margin-right: 0.5em;
  width: 1em;
}

.leaflet-marker-icon img {
  color: var(--main) !important;
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: center;
  }
}
