/* Style the tab */
.tabs {
  scrollbar-width: thin;
  scrollbar-color: #f4f3ef transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px !important;
}

/* Style the buttons that are used to open the tab content */
.tab-bordered {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  border-radius: 8px;
  color: #4a4a49 !important;
  padding: 10px 20px;
  border: 1px;
  text-transform: uppercase;
  border-style: solid;
  border-color: #f5f4ef !important;
}

/* Create an active/current tablink class */
.tab-active {
  border: 1px;
  border-style: solid;
  border-color: #f5f4ef !important;
  border-radius: 8px;
  background-color: #f4f3ef;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.tabcontent.hidden {
  display: none;
}
