/* Style the tab */
.tabs {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab-bordered {
  cursor: pointer;
  transition: 0.3s;
  font-size: 23px;
  color: #e3e3e3;
  border-color: transparent !important;
}

/* Create an active/current tablink class */
.tab-active {
  color: #4a4a49;
  font-weight: 600;
  border-color: #4a4a49 !important;
  transition: all 0.5s ease-in-out;
  position: relative;
}

/* Aggiungi questi stili nel tuo foglio di stile */
.line-below-tab {
  /* Stili della linea sotto il tab */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4a4a49; /* Colore della linea */
  height: 2px; /* Altezza della linea */
  width: 0; /* Larghezza iniziale (crescerà durante l'animazione) */
  transition: width 0.5s ease; /* Transizione della larghezza */
}

.tabcontent.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .tabs {
    justify-content: start;
  }
  .tab-bordered {
    font-size: 25px;
  }
}

@media screen and (min-width: 1920px) {
  .tab-bordered {
    font-size: 35px;
  }
  .tab-active {
    font-size: 35px;
  }
}
